.btn:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #f0ad4e;
  border-radius: 50%;
  margin-bottom: 6px;
  margin-right: 6px;
}

.cursor-point {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* .cursor-point:hover {
  font-size: 2rem;
} */
.social-icon {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

/* .squad {
  width: 255px;
  height: 160px;
  border: 2px solid rgb(112, 124, 0);
  border-radius: 5px;
  transform: rotate(5deg);
  position: absolute;
  bottom: 40px;
  overflow: hidden;
  z-index: 1;
  left: 50px; 
  right: 40px;  
} */

.links-navegation a {
  color: white;
  text-decoration: none;

  transition: color 0.3s ease;
}

.links-navegation a {
  color: white;
  text-decoration: none;

  position: relative;
  transition: color 0.3s ease;
}

.links-navegation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.links-navegation a:hover {
  color: #ddd;
}
.links-navegation a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.text-nav {
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .links-navegation {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #323232;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    text-align: center;
  }
  .links-navegation.active {
    left: 0;
  }
  .links-navegation a {
    margin: 10px 0;
  }
  .menu-toggle {
    display: block;
  }
  .overlay.active {
    display: block;
  }
  .hamburger-button {
    display: flex;
  }

  .text-nav {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .text-nav {
    font-size: 16px;
    line-height: 20px;
  }
}

.sticky-nav {
  transition: all 0.3s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}
.sticky-nav.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(2, 85, 125);
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dot {
    display: none;
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; /* Para que el video esté detrás del contenido */
}

.overlay-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background-color: rgba(43, 135, 255, 0.3); /* Tono azul con transparencia */
}

.bordered-image {
  border: 5px solid rgb(150, 178, 211);
  border-radius: 15px;
}

.dynamic-width {
  width: 50%;
}

@media (min-width: 768px) {
  .dynamic-width {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .dynamic-width {
    width: 25%;
  }
}

.tag-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .tag-responsive {
    justify-content: start;
    align-items: start;
  }
}

.container-img {
  height: auto;
  width: 100%;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-study {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.card-study-small {
  height: 125px;
}

.card-archi {
  height: 99px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .card-archi {
    height: 300px;
  }
  .card-study-small {
    height: 300px;
  }
}

.card-study:hover {
  transform: scale(1.1);
}
.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  text-align: start;
  padding-bottom: 1rem;
  padding-left: 3rem;
}
.btn-explore {
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-img-top {
  height: 100px;
  object-fit: cover;
}
.profile-image {
  width: 100px;
  height: 100px;
  border: 4px solid white;
  margin-top: -50px;
}

.submit-btn {
  background-color: #ffa500;
  border-color: #ffa500;
}
.submit-btn:hover {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.form-control:focus {
  box-shadow: none;
}

.input-group {
  flex-wrap: nowrap;
}

.img-logo {
  max-width: 60%;
  height: auto;
}

/* Carousel */

.testimonial-section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 1, 3, 0.6),
      /* Capa superior más oscura */ rgba(1, 1, 5, 0.6)
        /* Capa inferior más oscura */
    ),
    url("imagenes/arquitectos.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 500px;
  overflow-x: hidden;
  padding: 50px 0;
}

.carousel-item {
  min-height: 450px;
}
.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.name-overlay {
  position: absolute;
  bottom: -3%;
  left: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  color: rgb(255, 140, 0);
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  z-index: 1;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.play-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.video-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff; /* Color de los botones por defecto */
  opacity: 0.5;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: #f4a300; /* Color del botón activo */
  opacity: 1;
}

.carousel-indicators {
  display: flex;
  justify-content: center; /* Centra los indicadores */
  align-items: center;
  padding: 10px;
}

@media (max-width: 767px) {
  .testimonial-section {
    min-height: auto;
  }

  .image-container {
    width: 100%;

  }

  .carousel-item video {    
    width: 250px;
    height: 250px;
    padding-right: 20px;
    padding-left: 20px;
  }


  .name-overlay {
    width: 120px;
    position: absolute;
    bottom: 20%;
    left: 25%;
    
  }

  .play-btn {
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .carousel-indicators {
    margin-bottom: 100px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .testimonial-section {
    min-height: auto;
  }
  .carousel-item video {
    width: 300px;
    height: 300px;
  }

  .name-overlay {
    width: 150px;
    position: absolute;
    bottom: 10%;
    left: 30%;
  }
  .play-btn {
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .carousel-indicators {
    margin-right: 20px;
    margin-bottom: 70px;
  }
}


.logo-js {
  width: 60px;
  height: 48px;
}

.font-footer {
  font-size: 16px;
}

@media (max-width: 767px) {
  .font-footer {
    font-size: 10px;
  }
  .logo-js {
    width: 64px;
    height: 32px;
  }
}

.card-body {
  z-index: 3;
}

.darkness {
  filter: brightness(50%);
}

.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31%;
  z-index: 2;
  background-color: rgba(9, 168, 247, 0.128);
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
  z-index: 10;
}

.hamburger-button:focus {
  outline: none;
}

.bar {
  width: 2rem;
  height: 0.25rem;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-button.open .bar:first-child {
  transform: rotate(45deg);
}

.hamburger-button.open .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger-button.open .bar:nth-child(3) {
  transform: rotate(-44deg);
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}
